body { background-color: #f5f5dc; }

h2 { font-size: 40px; color: black; text-align: center;}

p { color: black; font-size: 25px; }

.primary {color: black;}

h3 { color: black; }

li::marker {Content:"\00BB"}

.itens {color: black; font-size:30px ;}

strong {font-size: 30px; font-style: oblique;}

a {text-align:;}

nav li { display: inline; }

nav a {text-transform: UPPERCASE;
color: #000000;
font-weight:bold;
font-size: 30px;
text-decoration:none;
}

nav {
	position:absolute;
	top: 50px;
	right:0;
}